@import url('style.css');

.alert-list {
  list-style: none;
  padding: 20px;
}

.alert-list li {
  background: #fff;
  margin: 10px 0;
  padding: 12px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.alert-list i {
  margin-right: 10px;
  color: #2f80ed;
}
