body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.topbar {
    background: #2f80ed;
    padding: 25px;
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
}

.box {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.box h2 {
    margin-top: 0;
    text-align: center;
}

.box input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.box button {
    width: 100%;
    padding: 12px;
    background: #2f80ed;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.box button:hover {
    background: #1c5fba;
}
